*{
    box-sizing: border-box;
    
    padding: 0;
    margin: 0;
    color: lightgray;
}
img{
    width: 100%;
}
.titulo-info{
    padding-left: 10px;
    padding-right: 10px;
}
.foto-album{
    width: 15%;
    padding: 2px;
    background-color: goldenrod;
}
.album-nombre{
    font-size: 24px;
    color: gold;
}
.descripcion{
    text-align: justify;
    padding-top: 10px;
}
.canciones{
padding-left: 10px;
}
.canciones li{
    margin: 10px;
    list-style-type: square;
    color: gold ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.genero{
    text-decoration: none;
    color: orange;
}
.artista{
    text-decoration: none;
    color: orange;
}
.genero:hover{
    color: darkgoldenrod;
    text-decoration: underline;
}
.artista:hover{
    color: darkgoldenrod;
    text-decoration: underline;
}

@media (min-width: 280px){
    .informacion{
        display: block;
    }
    .foto-album{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .foto-album{
        width: 50%;
        justify-content: space-around;
    }
    .album-nombre{
        text-align: center;
    }

}
@media (min-width: 1024px){
    .informacion{
        display: flex;
    }
    .foto-album{
        width: 250px;
        padding: 2px;
        background-color: goldenrod;
    }
}
