*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: gold;
}
img{
    width: 100%;
}
.detalle-album{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.portada-album{
    width: 20%;
    margin-top: 4px;
}
.informacion{
    text-align: center;
    color: darkred;
}
.informacion a{
    text-decoration: none;
}
.informacion h5{
    color: darkred;
}
.playlist{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 16px;

}
.playlist a{
    text-decoration: none ;
    color: darkgoldenrod; 
}
.album.cancion{
    color: darkred;
    
}
@media (min-width: 1024px){
    .informacion{
        display: flex;
        flex-direction: column;
    }
    .album-canciones{
        text-align: center;
    }
    .foto-album{
        width: 250px;
        padding: 2px;
        background-color: goldenrod;
    }
    body{
        background-color: gold;
        background-size: 100%;
    }
}
