*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: gold;
    font-family: 'Kanit', sans-serif;
}
.banda h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-size: 50px;
    color: rgb(71, 170, 177);
    
}
.banda{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3%;
    height: 150vh;
    
}
.topcanciones ul li{
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    justify-content: flex-start;
    background-color: rgba(145, 109, 31, 0.3);
    color: white;
}
.topcanciones ul{
    text-align: left;
}
.banda p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
    margin: 10px;
    background-color: rgb(0, 0, 0, 0.3)
}
.integrantes{
    display: none;
}
img{
    width: 100%;
}

@media (min-width: 1024px){
    body{
        background-image: url(../img/Arctic\ Monkeys\ Wallpapers\ HD\ _\ Desktop\ and\ Mobile\ Backgrounds\ \(1\).jpg); 
        background-size: 110%;
        background-repeat: no-repeat;
        background-color: black;
    }
    .artista{
        display: flex;
        flex-direction: column;
    }
    .integrantes{
        display: flex;
        flex-direction: row;
    }
    .integrantes1{
        display: flex;
        flex-direction: row;
        margin: 10%;
        width: 90%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: medium;
        color: white;
        
    }
    .los-monos{
        display: flex;
        flex-wrap: wrap;
        margin: 1%;
        width: 100%;
    }
    .banda{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5%;
        height: 10vh;
    }
    .banda img{
        display: none;
    }
}