*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: gold;
}

img{
    width: 100%;
}

.imagen{
    width: 25%;
    margin-top: 4px;
}
.nombre{
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.detalle-artista{
    background-color: red;
    display: flex;
}

@media (min-width: 1024px){
    body{
        background-color: gold;
        background-size: 110%;
        background-repeat: no-repeat;
    }
    .artista{
        display: flex;
        flex-direction: column;
    }
    .integrantes{
        margin-top: 75px;
        display: flex;
        flex-direction: row;
    }
    .integrantes1{
        display: flex;
        flex-direction: row;
        margin: 10%;
        width: 90%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: medium;
        color: white;
        
    }
    .los-monos{
        display: flex;
        flex-wrap: wrap;
        margin: 1%;
        width: 100%;
    }
    .banda{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5%;
        height: 10vh;
    }
    .banda img{
        display: none;
    }
}