*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.img{
    width: 100%;
}
.body{
    font-family: 'Kanit', sans-serif;
}
.inicio{
    color: goldenrod;
    text-align: center;
    margin-bottom: 6%;
}
.cancion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2%;
    margin-right: 2%;    
    list-style-type: none;
}
.nombre{
    display: flex;
    text-decoration: none;
    color: white;
}

