*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body{
    font-family: 'Kanit', sans-serif;
}
.inicio{
    color: goldenrod;
    text-align: center;
}
.nombre{
    display: flex;
    text-decoration: none;
    color: white
}
a:hover{
    color: rgb(255, 255, 109);
}
.canciones-favoritas{
    width: 100%;
    font-size: 14px;
}
.canciones-favoritas td{
    border: 1px double goldenrod;
    border-collapse: collapse;
}
@media(min-width:1024px){
    .canciones-favoritas td{
        border: none;
    }
    .canciones-favoritas {
        justify-content: space-around;
        background-color: green;
        
    }
    .inicio{
        background-color: greenyellow;
    }
}
