*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.img{
    width: 100%;
}
.body{
    font-family: 'Kanit', sans-serif;
}
.inicio{
    color: goldenrod;
    text-align: center;
    margin-bottom: 6%;
}
a:hover{
    color: rgb(255, 255, 109);
}

@media(max-width: 460px){
    .body{
        background-size: 100%;
    }
    
}