*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
body{
    background-color: black;
}


/*-------------HEADER---------------*/


.header{
    background-color: rgb(8, 8, 8);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
 padding-left: 5px;
    width: 25%;
}

.webs{
    display: block;
    width: 100%;
    justify-content: space-around;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    padding: 10px;
    text-align: center;
}

.webs a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.webs a:hover{
    color: rgb(224, 241, 63);
}

.webs .buscador{
    float: right;
}

.webs .buscador button{
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.webs .buscador button:hover {
    background: #ccc;
}

  .webs input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.webs .buscador{
    float: none;
    display: block;
    text-align: center;
    padding: 14px;
    background-color: blue;
}


/*---------------- HOMEPAGE DEL SITIO--------------*/


.banner h1{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
position: absolute;
color: white;
text-align: center;
font-size: 60px;
width: 100%;
padding-top: 65px;
}

.container{
    display: flex;
    flex-direction:column; 
}

.titulo{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color:goldenrod;
}

.lista{
    background-color: gold;
    display: flex; 
    flex-direction: column;
    text-align: center;
}

.producto{
    display: flex;
    flex-direction: column;
    margin: 5%;
    font-family: sans-serif;
    font-size: 15px;
    width: 100%;
}

.productos{
    display: flex;
    flex-wrap: wrap;
}

.fotuli{
    width: 60%;
    border: solid 20px rgba(3, 3, 3, 0.904);
}

.footer{
    background-color: rgb(8, 8, 8);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h5{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10px;
}

.ver-mas{
    text-decoration: none;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.titulo-album{
    text-decoration: none;
    color: black;
}

.titulo-album:hover{
    text-decoration: underline;
    color: crimson;
}

@media(min-width:1024px){
    .fotuli{
        width: 60%;
    }
    .productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .producto{
        width: 30%;
    }
    .webs{
        display: flex;
    }
    .webs a{
        overflow: hidden;
        float: left;
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        color: white;
    }
    .logo{
        width: 3%;
    }
    .buscador-webs{
        width: 100%;
    }
    .buscador{
        align-items: center;
    }
}
