*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
body{
    background-color: black;
    font-family: 'Kanit', sans-serif;
}


/*-------------HEADER---------------*/


.header{
    background-color: rgb(8, 8, 8);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
 padding-left: 5px;
    width: 25%;
}

.webs{
    display: block;
    width: 100%;
    justify-content: space-around;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    padding: 10px;
    text-align: center;
}

.webs a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.webs a:hover{
    color: rgb(224, 241, 63);
}
.webs .buscador button{

    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.webs .buscador button:hover {
    background: #ccc;
}

  .webs input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.webs .buscador{
    display: block;
    text-align: center;
    padding: 14px;
}
form input{
    text-align: center;
    margin-bottom: 12px;
}

/*---------------- HOMEPAGE DEL SITIO--------------*/


.banner{
    background-image: url(../img/EoYltlIXUAArfT2.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
    font-size: 60px;
    width: 100%;
    height: 700px;
}
.banner-genero h1{ 
    background-image: url(https://cdn.pixabay.com/photo/2016/11/19/13/57/drum-set-1839383_1280.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
    font-size: 60px;
    width: 100%;
    height: 550px;
}
.container{
    display: flex;
    flex-direction:column; 
}

.titulo{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    background-color:goldenrod;
}

.lista{
    background-color: gold;
    display: flex; 
    flex-direction: column;
    text-align: center;
}

.producto{
    display: flex;
    flex-direction: column;
    margin: 5%;
    font-family: sans-serif;
    font-size: 15px;
    width: 100%;
}

.productos{
    display: flex;
    flex-wrap: wrap;
}

.fotuli{
    width: 60%;
    border: solid 20px rgba(3, 3, 3, 0.904);
}

.footer{
    background-color: rgb(8, 8, 8);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h5{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 8px;
}

.ver-mas{
    text-decoration: none;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.titulo-album{
    text-decoration: none;
    color: black;
}

.titulo-album:hover{
    text-decoration: underline;
    color: crimson;
}


/*FOOTER*/

.webs-footer{
    text-align: center;
}
.webs-footer a{
    text-decoration: none;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


@media(min-width:1024px){
    .fotuli{
        width: 60%;
    }
    .productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .banner h1{
        padding-top: 300px;
        padding-bottom: 300px;
    }
    .producto{
        width: 30%;
    }
    .webs{
        display: flex;
    }
    .webs a{
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        color: white;
    }
    .logo{
        width: 3%;
    }
    .buscador-webs{
        width: 100%;
    }
    .buscador{
        align-items: center;
    }
    .footer {
        display: flex;
        justify-content: space-evenly;
    }
}
