*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
body{
    background-color: gold;
    font-family: 'Kanit', sans-serif;
    font-weight: bolder;
}
.resultado-busqueda{
    color: white;
    font-size: 24px;
}
.resultados{
    padding-top: 10px;
}
.resultado h2 a{
    padding-top: 10px;
    color: goldenrod;
    text-decoration: none;
}
.resultado h2 a:hover{
    text-decoration: underline;
}
.resultado p{
    color: brown;
}